<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.billsystem.mapper.RecordMapper">

    <insert id="addRecord" parameterType="Record">
        insert into
        record
        (id,spend,cid,comment,date,uid,categoryName)
        values (#{id},#{spend},#{cid},#{comment},#{date},#{uid},#{categoryName})
    </insert>

    <delete id="deleteRecord" parameterType="int">
        delete from record
        where id = #{id}
    </delete>

    <update id="updateRecord" parameterType="Record">
        update record set
        spend = #{spend} ,
        comment = #{comment} ,
        categoryName = #{categoryName},
        date = #{date}
        where id = #{id}
    </update>

    <select id="queryRecord" resultType="Record">
        select * from record where id = #{id}
    </select>

    <select id="queryRecordList" resultType="Record">
        select * from record where uid = #{uid} order by date
    </select>

    <select id="queryRecordToday" resultType="Record">
        select * from record where date = #{date} and uid = #{uid}
    </select>

    <select id="queryRecordThisMonth" resultType="Record">
        select * from
        (select * from record where date >= #{start} and date &lt;= #{end}) as records
        where uid = #{uid}
    </select>

    <select id="queryCountOfCategory" resultType="int">
        select count(*) from record where uid = #{uid} and cid = #{cid};
    </select>

</mapper>