#nav #tab #welcome{
    position: absolute;
    right: 150px;
    top : 18px;
    font-size: 14px;
}
#nav #tab #quit{
    position: absolute;
    right: 10px;
    top : 18px;
    font-size: 14px;
}
#nav #tab #quit:hover{
    color: #FF0000;
    cursor:pointer
}
div#panel5{
    width: 40%;
    height: 300px;
    margin: 0px auto;
    margin-top: 100px;
}
div#panel5 div.panel-body{
    margin-left: 70px;
    margin-top: 70px;
}
div#panel5 div.panel-body input{
    width: 70%;
    display: inline-block;
}
div.layui-tab-item #timeline{
    margin-left: 100px;
}
div#panel2{
    width: 40%;
    height: 400px;
    margin: 0px auto;
    margin-top: 100px;
}
div#panel2 div.panel-body input{
    margin-top: 20px;
}
div#panel2 div.panel-body button{
    margin-top: 10px;
    margin-left: 45%;
}